.brdRadBtn2 {
    width: 90px;
    border-radius: 20px;
    background-color: #FF7429;
    color: white;
}   

.brdRadBtn2:hover {
    background-color: white;
    color: #FF7429;
    border: 1px solid #FF7429;

}   

.orange2 {
    color: #FF7429;
}
.brdRadForm2 {
    border-radius: 20px;
    border: 1px solid black;
}

.image {
    width: 60%;
    height:auto;
}

.cardBorder {
    border: none;
    box-shadow: 0 0 20px #ccc;
    border-radius: 20px;
}



.grow {
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
  }
  
  .grow:hover,
  .grow:focus {
    transform: scale(1.05);
  }
  
  .grow:active {
    transform: scale(.90);
  }
  
  .grow-large {
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform .25s ease-in-out;
  }
  
  .grow-large:hover,
  .grow-large:focus {
    transform: scale(1.2);
    cursor:pointer;
  }
  
  .grow-large:active {
    transform: scale(.95);
    cursor:pointer;
  }